@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

#root {
    font-family: 'Roboto Slab', serif;
    background-color: #FDF8F0;
    min-height: 100vh;
}

.content-container{
    padding: 0px 20px;
    min-height: 80vh;

}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.allbtn {
    border: 1.5px solid #db693c;
    text-transform: uppercase;
    color: #272727;
    text-align: center;
    padding: 5px 10px;
    background:transparent;
    border-radius: 4px;
}

/* NAV + FOOTER LINKS */

.navbar, .logo-wrapper, .footer {
    background-color: #FFEFD4;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
}

.nav-link, .nav-link:hover, .nav-link:visited, 
.dropdown-item, .dropdown-item:hover, .dropdown-item:visited,
.footer-link, .footer-link:hover, .footer-link:visited {
    color: rgb(231, 152, 5);
    text-decoration: none;
}

.nav-link {
    font-size: 19px
}

/* LANDING */

.hero-image {
    background-image: linear-gradient(rgba(209, 245, 250, 0.5), rgba(229, 240, 237, 0.616)), url("./images/c2.jpeg");
    height:60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0px -20px;
    
}

.hero-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(231, 226, 207, 0.76);
    border-radius: 10px;
    padding: 15px;
}

.hero-button {
    text-align: center;
    position: center;
    text-decoration: none;
}

.hero-text{
    color: #C85103;
    font-family: 'Bangers', cursive;
}

.feature-img {
    text-align: right;
}

.feature-name {
    align-items: center;
    display: flex;
    color: #4a4a4a;
    text-transform: uppercase;
    letter-spacing: 1.5px;;
}

/* ABOUT US + CARE GUIDE */

.about-us-text, .about-us-image, .care-guide-text, .care-guide-image {
    text-align: center;
    align-items: center;
    display: flex;
}

/* PRODUCT LISTING */

.product-name{
    color: #4a4a4a;
    text-transform: uppercase;
    letter-spacing: 1.5px;;
}

.product-wrapper{
    text-align: center;
}

.product-link {
    text-decoration: none;
}

.header-image-wrapper {
    background-image: url("./images/gero.jpeg");
    height:40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* FILTER + SEARCH */

.filter-input {
    padding: 0.5em;
    width: 100%;
    margin-bottom: 1em;
    border: 1.5px solid #fc9739;
}

.icon-buttons {
    border: 2px solid #fc9739;
    background-color: rgba(255, 166, 0, 0.555);
}

/* Single Product */
.description-wrapper {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(255, 228, 179, 0.555)
}

.single-product-title {
    text-align: center;
}

.single-product-image{
    display: flex;
    justify-content: center;
}

/* Cart */

.cart-header, .checkout-wrapper {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.cart-each-wrapper{
    text-align: center;
}

.cart-image {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;

}
.cart-item {
    display: flex;
    justify-content: center;
}
.cart-text, .cart-delete, .cart-total, .cart-price, .cart-quantity-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-delete, .cart-update{
    border: none;
    background: none;
    color: #4a4a4a;
    padding: 0;
}

.cart-update{
    margin: 0px 8px;
}

.payment-terms {
    font-size: 12px;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

.cart-cost-wrapper{
    background-color:#FFEFD4;
}

/* MOBILE SIZE */

@media screen and (max-width: 767px) {

    .feature-name{
        justify-content: center;
        margin-top: 10px
    } 
    .feature-img{
        text-align: center;
    }
}