@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

#root {
    font-family: 'Roboto Slab', serif;
    background-color: #FDF8F0;
    min-height: 100vh;
}

.content-container{
    padding: 0px 20px;
    min-height: 80vh;

}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.allbtn {
    border: 1.5px solid #fd6428;
    text-transform: uppercase;
    color: #272727;
    text-align: center;
    padding: 5px 10px;
    background:transparent;
    border-radius: 4px;
}

.allbtn:hover {
    color: #fa8500;
    text-decoration: none;
}

/* NAV + FOOTER LINKS */

.navbar, .logo-wrapper, .footer {
    background-color: #FFEFD4;
}

.navbar-toggler-icon {
    color: rgb(231, 152, 5);
}
.logo-wrapper {
    display: flex;
    justify-content: center;
}

.nav-link, .nav-link:hover, .nav-link:visited, 
.dropdown-item, .dropdown-item:hover, .dropdown-item:visited,
.footer-link, .footer-link:hover, .footer-link:visited {
    color: rgb(231, 152, 5);
    text-decoration: none;
}

.nav-link {
    font-size: 19px
}

.footer-header{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.leftcol {
    text-align: end;
}

.rightcol {
    text-align: start;
}

.dropdown-toggle{
    background: none;
    border: none;
}
.nav-route-wrapper {
    padding: 5px;
}
.nav-route{
    padding: 1em 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.nav-tag{
    color: black;
    text-decoration: none;
}

.nav-tag:hover{
    color: #d6954b;
}

/* LANDING */

.hero-image {
    background-image: linear-gradient(rgba(209, 245, 250, 0.5), rgba(229, 240, 237, 0.616)), url("./images/c2.jpeg");
    height:60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0px -20px;
}

.hero-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(231, 226, 207, 0.76);
    border-radius: 10px;
    padding: 15px;
}

.hero-button {
    text-align: center;
    position: center;
    text-decoration: none;
}

.hero-text{
    color: #C85103;
    font-family: 'Bangers', cursive;
    margin-bottom: 0px;
    padding: 5px;
    font-size: 45px;
}

.feature-img {
    text-align: right;
}

.feature-name {
    align-items: center;
    display: flex;
    color: #4a4a4a;
    text-transform: uppercase;
    letter-spacing: 1.5px;;
}

/* ABOUT US + CARE GUIDE */

.about-us-text, .about-us-image, .care-guide-text, .care-guide-image {
    text-align: center;
    align-items: center;
    display: flex;
}

/* PRODUCT LISTING */

.product-name{
    color: #4a4a4a;
    text-transform: uppercase;
    letter-spacing: 1.5px;;
}

.product-wrapper{
    text-align: center;
}

.product-link {
    text-decoration: none;
}

.header-image-wrapper {
    background-image: url("./images/gero.jpeg");
    height:40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* INDIVIDUAL PRODUCT */
.item-added {
    color:rgb(240, 125, 18);
    margin: 10px 0px;
    font-style: italic;
}


/* FILTER + SEARCH */

.filter-input {
    padding: 0.5em;
    width: 100%;
    margin-bottom: 1em;
    border: 1.5px solid #fc9739;
}

.icon-buttons {
    border: 2px solid #fc9739;
    background-color: rgba(255, 166, 0, 0.555);
}

/* Single Product */
.description-wrapper {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(255, 228, 179, 0.555)
}

.single-product-title {
    text-align: center;
}

.single-product-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cart */

.cart-header, .checkout-wrapper {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.cart-each-wrapper{
    text-align: center;
}

.cart-image {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    display: inline-flex;

}
.cart-item {
    display: flex;
    justify-content: center;
}

.cart-delete, .cart-update{
    border: none;
    background: none;
    color: #4a4a4a;
    padding: 0;
}

.cart-update{
    margin: 0px 8px;
}

.payment-terms {
    font-size: 12px;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

.cart-cost-wrapper{
    background-color:#FFEFD4;
}



/* ORDERS */

.payment-failed, .email-in-use {
    text-align: center;
    border: rgb(245, 102, 102) solid 5px;
    margin: 15px;
    padding: 10px;
}
.payment-successful {
    text-align: center;
    border: rgb(29, 168, 10) solid 5px;
    margin: 15px;
    padding: 10px;
}

.orders-wrapper {
    padding: 10px;
}

.user-order-table {
    width: 500px;
}

.order-product-table {
    text-align: center;
    margin: 10px;
}

/* USERS */

.form-error-text{
    margin-top: 10px;
    color: rgb(209, 23, 23);
    font-style: italic;
}
.login-wrapper {
    padding: 20px;
    max-width: 600px;
    margin: 10px auto;
}

.create-account-wrapper{
    padding: 20px;
    margin: 10px auto;
}

.create-account-form{
    margin-top: 15px;
}

.profile-wrapper {
    padding: 2em;
    max-width: 600px;
    margin: 3em auto;
    border: 1px solid #dbdbdb
}

ul.profile-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.click-edit{
    text-align: center;
}

.created-account {
    text-align: center;
    color: rgb(5, 172, 5);
    margin-top: 30px;
    margin-bottom: 0px;
    font-size:19px;
    text-transform: uppercase;
}


/* Tablets Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .user-order-wrapper{
        display: flex;
        justify-content: center;
    }
}

/* Mobile Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

     .feature-name{
        justify-content: center;
        margin-top: 10px
    } 
    .feature-img{
        text-align: center;
    }

    .hero-text {
        font-size: 40px;
    }

    .user-order-wrapper{
        display: flex;
        justify-content: center;
    }

    .profile-list {
        font-size: 13px;
    }

}
